<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>classesHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>836E84871C6C9270006C9EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836E84A01C6C9271006C9EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836E84AB1C6C9271006C9EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
